body {
  font-family: sans-serif;
  background-color: #8cd8e6;
  color: #ea86ec;
}

.dark-mode {
  background-color: #ea86ec;
  color: white;
}

.dark-mode input,
.dark-mode button {
  background-color: #333;
  color: white;
}
